*{
    box-sizing: border-box;
}

body{
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    color:hsl(201, 11%, 66%);
    background-image: url("images/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;   
}

h1,h4,h2{
    color: hsl(210, 10%, 33%);
}

header{
   padding-top: 7%;
    text-align: center;
    margin-bottom: 10%;
}

.header-logo{
    display:block;
    margin:auto;
    height:100px;
    width:100px;
}
.header-p{
    width:42%;
    margin:auto;
}
.buttons{
  margin-top: 3%;
  margin-bottom: 3%;
  
}
.buttons2{
    text-align: center;
    margin-bottom:10%;
    
}
.ios-btn,.mac-btn{
  padding:13px; 
  border-radius: 2rem; 
  width:14%;
  border:none;
  color:rgb(240, 234, 234);
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.ios-btn{
  margin-right: 1em;
  background-color: hsl(171, 66%, 44%);

}
.ios-btn:hover{
    background-color: hsl(171, 66%, 50%);  
}
.mac-btn{
    background-color: hsl(233, 100%, 69%);
}
.mac-btn:hover{
    background-color: hsl(233, 81%, 71%);
}

.snippets{
    text-align: center;
    width:47%;
    margin:auto;
    margin-bottom: 5%;
}
.features{
   display: flex;
   flex-direction: row;

}
.features-options{
    width:32%;
    padding-left: 6%;
    margin-top: 3%;
    padding-bottom: 5%;
}
.features-h4{
    margin-top: 15%;
}
.feature-p{
    padding-bottom: 10%;
}
.img-fluid{
    margin-left: -2%;
}
.access{
    text-align: center;
    margin-top: 8%;
}
.access-p{
    width:45%;
    margin:auto;
    margin-bottom: 7%;
}
.workflow{
    text-align: center;
}
.productivity-grid{
    display: flex;
    flex-direction: row;
    width:90%;
    margin-left:8%;
    column-gap: 40px;
}
.productivity_column1,.productivity_column2,.productivity_column3{
    margin-top: 5%;
    text-align: center;
    width:30%;  
}
.productivity_column1{
    width:28%;
}
.company-grid{
    display: flex;
    flex-direction: row;
    width:80%;
    margin:auto;
    margin-top: 10%;
    margin-bottom: 10%;
   
}
.grid{
    margin:auto;
}

.footer-icon{
    width:50px;
    height:50px;
    margin-top:10%;
}

footer{
  width: 100%;
  margin:auto;
  align-items: center;
  padding:3% 5% 0;
  font-weight: 600;
  background-color: hsla(200, 9%, 81%, 0.151);
  height:250px;
}
.footer-column{
  float: left;
  width: 15%;
  padding: 10px;
  height: 100px;

  
}
.footer-column4{
  float:right;
}
h5:hover{
    color: hsl(171, 66%, 50%);
}

.icons{
    padding-left: 1rem;
    padding-top:3em;
}

@media (max-width: 380px) {
    body{
        max-width:100%;
        background-image: url("images/bg-header-mobile.png");
        background-repeat: no-repeat;
        background: -moz-linear-gradient(bottom, rgba(0,0,0,0) 0%, rgba(249, 249, 249, 0.89) 100%);
    }
    .header-logo{
        margin-top: 20%;
        margin-bottom: 20%;
    }
    header{
        margin-bottom: 30%;
    }
   .header-p,.access-p,.snippet-p{
       width:97%;
       margin-bottom: 15%;
   }
   h1{
       max-width: 100%;
   }
   h2,h4{
       max-width: 90%;
       margin:auto;
   }
   .buttons,.buttons2{
       display: flex;
       flex-direction: column;
       align-items: center;
       width:100%;
   }
   .ios-btn,.mac-btn{
       width:90%;
       padding:5%;
       margin:auto;
       margin-bottom: 5%;
       font-size: medium;
   }
   .snippets{
       margin:auto;
       width:100%;
   }
    .features{
        display:flex;
        flex-direction: column;
        width:100%;
        margin:auto;
    }
    .features-options{
        margin-top: 15%;
        margin-bottom: 20%;
        width:98%;
        text-align: center;
    }
   .img-fluid{
       width:300px;
       height: 250px;
       display: block;
       margin:auto;
   }
   .access,.end-p{
       margin-bottom: 20%;
   }
   .access-p{
       margin-top: 10%;
       width:95%;
   }
   .productivity_column1,.productivity_column2,.productivity_column3{
       margin-top: 10%;
       margin-bottom: 8%;
   } 
   .productivity-h4{
     margin-top: 8%;
 }
    h4{
     font-size: x-large;
 }
   .device-img{
    width:320px;
    height: 200px;
    display: block;
    margin:auto; 
   }
   .productivity-grid,.company-grid{
       display:flex;
       flex-direction: column;
       margin:auto;
       width:100%;
   }
   .buttons2{
       margin-bottom: 35%;
   }
   footer{
       height:600px;
   }
   footer,.grid{
       width:100%;
       text-align: center;
       padding-top: 15%;
       padding-bottom: 10%;
   }
   .grid{
       padding-bottom: 1%;
   }
   .end-h2{
       margin-top: 30%;
   }
   .footer-column{
       padding: 0;
   }
   .footer-column4{
       padding-bottom: 5%;
   }
  
    .footer-column,.footer-column4,.productivity_column1,.productivity_column2,.productivity_column3 {
      width: 100%;
    }
  }